.navbar {
    position: sticky;
    top: 0;
    z-index: 40;
    background-color: hsla(0, 0%, 100%, 0.95) !important;
    border: 1px solid #e5e5e5;
    padding: 0;
}

.navbar-brand {
    background-color: #a50064 !important;
}

.nav-link {
    font-weight: 700;
    padding: 2px;
}

.nav-link.active {
    color: #a50064 !important;
    border: 1px solid #a50064;
    border-radius: 10px;
}

.organ {
    height: 100px;
    display: flex;
    text-decoration: none;
}

.organ img {
    width: 100px;
}

.organ .card-body {
    width: 275px;
    font-weight: 700;
}
